WHITE_LIST=WHITE_LIST_DOMAIN_TO_REMOVE_COR
UPLOAD_PATH=PATH_TO_UPLOAD_RESOURCE_FOLDER
SPA_WEB_PATH=PATH_TO_CMS
DATABASE_PASSWORD=YOUR_DB_PASSWORD
DATABASE=YOUR_DB_URL_WITH_<PASSWORD>_WILL_BE_REPLACE_BY_DATABASE_PASSWORD
JWT_SECRET=SUPPER_SECRET_JWT_KEY_!@#
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7
NODE_ENV=development